#Thu, 04 Apr 2013 18:32:33 +0200
app.name=MyWebApp

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=7fdf2fd5-29f4-4667-941f-56b5461ad0a2
